// Null styles ========================
@import "_null.scss";

// Fonts ==============================
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:600,700);
h1 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 3.75vw;
    line-height: 1.2em;
}

// Colors =============================
:root {
    --color-main: #292929;
    --color-main--rgb: 41, 41, 41;
    --color-violet: #53377a;
    --color-violet--rgb: 83, 55, 122;
    --color-orange: #e29e00;
    --color-orange--rgb: 226, 158, 0;
    --color-white: #e4e4e4;
    --color-white--rgb: 228, 228, 228;
}

// Main styles ========================
body {
    font-family: Montserrat Alternates;
    color: var(--color-white);
    width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    max-width: 61.46vw;
    margin: 0 auto;
}
.button {
    font-family: Raleway;
    font-weight: 700;
    font-size: 0.94vw;
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 0.78vw 2.08vw;
    box-sizing: border-box;
    color: var(--color-main);
    background-color: var(--color-orange);
    box-shadow: 0px 0.1vw 0.67vw rgba(var(--color-orange--rgb), 0.48);
    border-radius: 0.31vw;
    transition: all .3s ease;
    &:hover {
        box-shadow: 0px 0.1vw 0.67vw rgba(var(--color-orange--rgb), 0.9);

    }
}

// Promo ==============================
.promo {
    position: relative;
    width: 100%;
    height: 100vh;
    &-bg {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(var(--color-main--rgb), 0.8);
        }
    }
    &-wrapper {
        padding: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-title {
        margin-bottom: 2.08vw;
        text-transform: uppercase;
    }
    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-img {
        flex: 0 0 auto;
        width: 25.83vw;
        height: 25.83vw;
        position: relative;
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        & img {
            height: 80%;
            object-fit: cover;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 5%;
            width: 90%;
            height: 90%;
            z-index: -5;
            border-radius: 50%;
            border: 3.38vw solid var(--color-violet);
            box-sizing: border-box;
            box-shadow: 0px 0px 7.81vw rgba(var(--color-violet--rgb), 0.8);
        }
        
    }
    &-list {
        flex: 1 1 auto;
        & ul{
            display: flex;
            flex-direction: column;
            gap: 1.04vw;
            margin-left: 2.08vw;
            margin-bottom: 1.04vw;
        }
        & li{
            font-size: 1.56vw;
            line-height: 1.2em;
            &:first-child {
                margin-left: -1.04vw;
            }
            &:last-child {
                margin-left: -1.04vw;
            }
        }
    }
    &-button {

    }
    
}

// Structure ==========================
.structure {
    background-color: var(--color-main);
    &-wrapper {
        position: relative;
    }
    &-product {
        position: absolute;
        top: calc(50% - 12.92vw);
        left: calc(50% - 12.92vw);
        width: 25.84vw;
        height: 25.84vw;
        
        &--img {
    }
    }
    &-template {
    }
    &-item {
        &--img {
        }
        &--text {
        }
    }
}